*{margin:0;padding:0;}
ol,ul,li{list-style: none;}
#xxx{
    display: block;
    position: fixed;
    top:0;left:0; /*把画布完全固定住，不让它滑来滑去*/   
}
.items{
    position:fixed;
    left:20px;
    top:20px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;    
 }
 .items svg{
    width: 1.5em; height: 1.5em;
    margin:5px;
    transition: all 0.3s;
 } 
 .items svg.active{
    fill:red;
    transform: scale(1.2);
 }
 .colors{
     position: fixed;
     top:65px;
     left:25px;
 }
 .colors li{
     width:18px;height:18px;
     border-radius: 50%;
     border:1px solid #ccc;
     box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.57);
     margin:10px 0;
     transition: all 0.3s;
 }
 .colors li.active{
     transform: scale(1.3);
 }
 .colors li.black{background:black;}
 .colors li.red{background:red;}
 .colors li.green{background:green;}
 .colors li.blue{background:blue;}
 .colors li.yellow{background:yellow;}

 ul.sizes{
  position: fixed;
  top:20px;
  right:20px;
 }
 .sizes li{
     margin:10px;
     transition: all 0.3s;
 }
 .sizes li.active{
    transform: scaleX(1.3)
}
 .sizes .thin{
     border-bottom:4px solid black;
     width:40px;
 }
 .sizes .thick{
    border-bottom:7px solid black;
    width:40px;    
}